@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F6F7F8;
    font-family: "Roboto", sans-serif;
}

header {
    background: url('../assets/bg.png') center;
    background-size: cover;
}